$red: #eb4432;
a.underline {
    color: $red;
}
a.underline:hover {
    color: lighten($color: blue, $amount: 5%);
}
body {
    font-family: "Nunito", sans-serif;
}
nav {
    a {
        padding: 0.5rem;
    }
}
ul.skills li mark {
    background-color: transparent;
    color: black;
    font-weight: 600;
}
ul.skills li mark:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}
mark {
    background: transparent;
    color: #718096;
}
mark:hover {
    cursor: text;
    text-decoration: none;
}
form {
    margin-right: 25px;
    input[type="text"],
    input[type="number"] {
        padding: 7px 8px;
        font-size: 14px;
        padding-right: 25px;
        border: 2px solid #a0a0a0;
        border-radius: 4px;
        margin-bottom: 5px;
        width: 100%;
        outline: none;
    }
    input[type="number"] {
        padding-right: 0;
        width: 100%;
    }
    input[type="text"]::placeholder,
    input[type="number"]::placeholder {
        color: #b9b9b9;
        font-weight: 600;
    }

    label {
        font-size: 14px;
        font-weight: 600;
    }
}
.errorText{
    color: $red !important;
}
form input[type="submit"],a.edit ,input.del{
    background-color: lighten($red, 5%) !important;
    padding: 5px 15px;
    color: white !important;
    font-weight: 500 !important;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1.1px;
}
input.del{
    background-color: lighten($color: blue, $amount: 5%);
}
.delform{
    display: flex;
    justify-content: space-around;
}
